{
  "env": { "node": true, "browser": true, "es6": true },
  "parser": "babel-eslint",
  "extends": ["airbnb", "plugin:prettier/recommended", "prettier/react"],
  "plugins": ["prettier"],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "arrow-parens": [2, "as-needed"],
    "prettier/prettier": "error",
    "no-use-before-define": ["error", { "variables": false }],
    "import/no-extraneous-dependencies": "off",
    "react/prop-types": 0,
    "no-restricted-syntax": "off",
    "guard-for-in": "off"
  }
}
